-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


- content_for :head do
  :javascript
    $("input").live('keyup', function(e){
      var search = $(this);
      var list   = $(this).parent().children(".info_list");
      var query  = new RegExp(search.val(),'i');

      $("li", list).each( function() {
        var element = $(this);
        if( !element.text().match(query) ){
          element.hide();
        } else {
          element.show();
        }
      });
    });

= text_field_tag :contact_search, nil, :placeholder => "Search people", :type => 'search', :results => 5
%ul.info_list{ :data=>{:aspect_id => @aspect.id}}
  - for contact in contacts
    %li{:data=>{:guid=>contact.id}}
      = link_to contact.real_name, '#'
  
